<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html>
<head>
	<title>PLN</title>
</head>
<body style='background-image: url("/static/fondo.jpg"); background-size: 100%; background-repeat: repeat;'>
	<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-4" >
	    	<img class="img-responsive" src="/static/PLN_imagen.jpg" alt="Chania" width="190" height="190"> 
	    </div>
	    <div class="col-sm-4" style="color: black;">
			
				<h2 align="center"><font color="blue">Analizadores Probabilisticos</font></h2>
				<h4 align="center">Stanford</h4>
				<h4 align="center">Bikel</h4>
				<h4 align="center">Parseval</h4>
				<h5 align="center">En Ingles</h5>
				<hr style="color: #123455; height: 1px; background-color: #123455;">
		</div>
	</div>
	<p align="center"><i>Brayan Rodriguez - Nelson Portilla</i></p> 
	<div class="container">
		<div class="panel-body">
			<form action="." method="POST">
			<i>Digite el texto:</i><br>
				<textarea style="color: black; background-color: transparent;" class="form-control" rows="5" name="id_entrada" id="id_entrada">{{texto}}</textarea>
			
			<span class="glyphicon glyphicon glyphicon-eye-open"></span><input type="submit" class="btn btn-primary" value="Ver Arbol!"></input>
			<Button type="button" onclick="limpiar()" class="btn btn-danger"><span class="glyphicons glyphicon glyphicon-trash"></span> Limpiar</Button>

			<div class="row">
			  <div class="col-sm-6"><b>Arbol Stanford</b>
			  <p align="left">
								  {{tr_stanford}}
    </p>
			  </div>
			  <div class="col-sm-6"><b>Arbol Bikel</b><br>
								   {{tr_bikel}}
					    

			  </div>
			</div>


			
			</form>
		</div>

		<div class="panel-body">
			<b>PARSEVAL:</b>
			<p><i>Para este caso el arbol con el cual se realiza el analisis es con el raw-text 0001 de PTB</i></p>
			<!-- <textarea style="color: black; background-color: transparent;" class="form-control", rows="15", name"id_salida" id="id_salida">{{texto_analisis}}</textarea> -->

			<div class="row">
			  <div class="col-sm-4"><b>Arbol Stanford</b>
			  <p align="center">
								  (ROOT
					  (S
					    
					          (NP (NN sausage)))))
					    (. .)))
    </p>
			  
    			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th style="color: blue;">Recall</th>
			        <th style="color: blue;">Precision</th>
			      </tr>
			      </thead>
			    <tbody>
				 	<tr>
				    	<td>{{result_recall_bikel}}</td>
				    	<td>{{result_precision_bikel}}</td>
					</tr>
				</tbody>
			</table> 
			  </div>
			  <div class="col-sm-4"><b>Arbol Bikel</b><br>
								  (ROOT
					  (S
					    

			  
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th style="color: blue;">Recall</th>
			        <th style="color: blue;">Precision</th>
			      </tr>
			      </thead>
			    <tbody>
				 	<tr>
				    	<td>{{result_recall_bikel}}</td>
				    	<td>{{result_precision_stanford}}</td>
					</tr>
				</tbody>
			</table> 
			  </div>
			</div>
			



		</div>
	</div> 

</body>

<script type="text/javascript">
function limpiar(){
	var texto;
	document.getElementById("id_entrada").value="";
	}
</script>


</html>